@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  @apply text-neutral-900 bg-white;
}

/* 确保布局填满整个视口 */
#root {
  min-height: 100vh;
}
